@import "tailwindcss";
@plugin "daisyui";

@theme {

    --color-primary      : oklch(87.41% 0.1362 87.91);
    --color-secondary    : oklch(70.33% 0.1251 135.97);
    --color-success      : oklch(75% 0.16 145);
    --color-neutral-color: oklch(55.04% 0 0);
    --color-default-color: oklch(20.78% 0.0515 274.45);
}

@plugin "daisyui/theme" {
    name        : "creative-agency";
    default     : true;
    prefersdark : false;
    color-scheme: light;

    /* Base Colors */
    --color-base-100    : oklch(100% 0 0);
    --color-base-200    : oklch(95% 0.03 240);
    --color-base-300    : oklch(90% 0.04 240);
    --color-base-content: oklch(24% 0.05 250);

    /* Brand Colors */
    --color-primary          : oklch(87.41% 0.1362 87.91);
    --color-primary-content  : oklch(10% 0 0);
    --color-secondary        : oklch(70.33% 0.1251 135.97);
    --color-secondary-content: oklch(10% 0 0);
    --color-accent           : oklch(20.78% 0.0515 274.45);
    --color-accent-content   : oklch(10% 0 0);
    --color-neutral          : oklch(24% 0.05 250);
    --color-neutral-content  : oklch(100% 0 0);

    /* State Colors */
    --color-info   : oklch(72% 0.18 230);
    --color-success: oklch(75% 0.16 145);
    --color-warning: oklch(80% 0.18 75);
    --color-error  : oklch(59.5% 0.2322 27);
}