@reference "tailwindcss";

.swiper {
    padding-bottom: 70px !important;
}

.swiper-slide {
    transition: all 0.3s ease;
    opacity   : 0.5;
}

.swiper-slide-active {
    opacity: 1;
}

.swiper-pagination {
    bottom: 0 !important;
}

.swiper-pagination-bullet {
    width     : 10px !important;
    height    : 10px !important;
    background: rgba(255, 255, 255, 0.2) !important;
    opacity   : 1 !important;
    margin    : 0 5px !important;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet:hover{
    background: #ffd87d !important;
}

.swiper-pagination-bullet-active {
    background: #FFB400 !important;
    /* Your secondary/accent color */
    transform : scale(1.2);
}